//
//  Release-Hippo-Config.xcconfig
//  Hippo
//
//  Created by Huy Le on 22/7/17.
//  Copyright © 2017 Huy Le. All rights reserved.
//

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution
PROVISIONING_PROFILE_SPECIFIER = $(RELEASE_PROVISIONING_PROFILE)
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = iPhone Distribution
DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM)
